:root, [data-bs-theme=light] {
  --bs-primary: #00416C;
  --bs-primary-rgb: 0, 65, 108;
  --bs-primary-text-emphasis: #060615;
  --bs-primary-bg-subtle: #CFCFD7;
  --bs-primary-border-subtle: #9F9FAE;
  --bs-secondary: #365486;
  --bs-secondary-rgb: 54,84,134;
  --bs-secondary-text-emphasis: #162236;
  --bs-secondary-bg-subtle: #D7DDE7;
  --bs-secondary-border-subtle: #AFBBCF;
  --bs-info: #3e5f96;
  --bs-info-rgb: 62,95,150;
  --bs-info-text-emphasis: #19263C;
  --bs-info-bg-subtle: #D8DFEA;
  --bs-info-border-subtle: #B2BFD5;
  --bs-danger: #ffbbbb;
  --bs-danger-rgb: 255,187,187;
  --bs-danger-text-emphasis: #664B4B;
  --bs-danger-bg-subtle: #FFF1F1;
  --bs-danger-border-subtle: #FFE4E4;
  --bs-light: #FFFFFF;
  --bs-light-rgb: 255,255,255;
  --bs-light-text-emphasis: #665E24;
  --bs-light-bg-subtle: #FFFFFF;
  --bs-light-border-subtle: #FFFFFF;
  --bs-dark: #212529;
  --bs-dark-rgb: 33,37,41;
  --bs-dark-text-emphasis: #0D0F10;
  --bs-dark-bg-subtle: #D3D3D4;
  --bs-dark-border-subtle: #A6A8A9;
  --bs-body-bg: #ffffff;
  --bs-body-bg-rgb: 255,255,255;
  --bs-body-font-family: 'Coolvetica Rg';
  --bs-border-color: #dee2e6;
}

.navbar-nav .nav-link:hover {
  color: #FED103 !important;
}


.btn-light:hover {
  background-color: #FED103 !important;
  color: #00416C!important;
}

.btn-light:hover .learn-more-div {
  color: #00416C!important;
}

.profile-wrapper {
  width: 22rem;
  height: 28rem;
  position: relative;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 22rem;
  height: 28rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;
}

.profile .profile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #2C2C2C;
  transition: .5s;
}

.profile-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile:hover img {
  opacity: 0.4;
  transition: .5s;
}

.profile:hover .profile-image {
  transform: translateY(-104px);
  transition: all .9s;
}

.profile:hover .profile-bio {
  opacity: 0.9;
}

.profile-name {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 7rem;
  padding: 0.75rem 0.875rem;
  z-index: 1;
  color: #333;
  background-color: #fff;
  text-align: left;
}

.profile:hover .profile-name {
  background-color: #fff;
}

.profile-name h2 {
  margin-bottom: 0.5rem;
}

.link-light:hover {
  color: #FED103 !important;
}

.footer-email {
  background-color: #00416C !important;
  text-decoration: none!important;
}

.bi-facebook:hover {
  color: #FED103;
}

.bi-twitter:hover {
  color: #FED103;
}

.bi-cart-fill:hover {
  color: #FFFFFF;
}

.bi-cart-fill {
  color: #FFFFFF!important;
}

.cart-svg:hover .bi-cart-fill {
  color: #FFFFFF;
}

.bi-instagram:hover {
  color: #FED103;
}

.footer-email:hover {
  color: #FED103!important;
}

.footer-links:hover {
  color: #FED103 !important;
}

.btn-primary:hover {
  color: #00416C!important;
}

.btn-light {
  background-color: #E63E30 !important;
}



.btn-primary {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #E63E30 !important;
  --bs-btn-border-color: #E63E30;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FED103!important;
  --bs-btn-hover-border-color: #FED103!important;
  --bs-btn-focus-shadow-rgb: 219,219,225;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #E63E30;
  --bs-btn-active-border-color: #E63E30;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #E63E30;
  --bs-btn-disabled-border-color: #E63E30;
}

.btn-outline-primary {
  --bs-btn-color: #00416C;
  --bs-btn-border-color: #00416C;
  --bs-btn-focus-shadow-rgb: 0, 65, 108;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #FED103!important;
  --bs-btn-hover-border-color: #FED103!important;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00416C;
  --bs-btn-active-border-color: #00416C;
  --bs-btn-disabled-color: #00416C;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #00416C;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #E63E30;
  --bs-btn-border-color: #E63E30;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #FED103!important;
  --bs-btn-hover-border-color: #FED103!important;
  --bs-btn-focus-shadow-rgb: 225,229,237;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #E63E30;
  --bs-btn-active-border-color: #E63E30;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #E63E30;
  --bs-btn-disabled-border-color: #E63E30;
}

.btn-outline-secondary {
  --bs-btn-color: #365486;
  --bs-btn-border-color: #365486;
  --bs-btn-focus-shadow-rgb: 54,84,134;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FED103!important;
  --bs-btn-hover-border-color: #FED103!important;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #365486;
  --bs-btn-active-border-color: #365486;
  --bs-btn-disabled-color: #365486;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #365486;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3e5f96;
  --bs-btn-border-color: #3e5f96;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FED103!important;
  --bs-btn-hover-border-color: #FED103!important;
  --bs-btn-focus-shadow-rgb: 226,231,239;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #324C78;
  --bs-btn-active-border-color: #2F4771;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3e5f96;
  --bs-btn-disabled-border-color: #3e5f96;
}

.btn-outline-info {
  --bs-btn-color: #3e5f96;
  --bs-btn-border-color: #3e5f96;
  --bs-btn-focus-shadow-rgb: 62,95,150;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FED103!important;
  --bs-btn-hover-border-color: #FED103!important;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3e5f96;
  --bs-btn-active-border-color: #3e5f96;
  --bs-btn-disabled-color: #3e5f96;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3e5f96;
}

.btn-danger {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffbbbb;
  --bs-btn-border-color: #ffbbbb;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FED103!important;
  --bs-btn-hover-border-color: #FED103!important;
  --bs-btn-focus-shadow-rgb: 38,28,28;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFC9C9;
  --bs-btn-active-border-color: #FFC2C2;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffbbbb;
  --bs-btn-disabled-border-color: #ffbbbb;
}

.btn-outline-danger {
  --bs-btn-color: #ffbbbb;
  --bs-btn-border-color: #ffbbbb;
  --bs-btn-focus-shadow-rgb: 255,187,187;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FED103!important;
  --bs-btn-hover-border-color: #FED103!important;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffbbbb;
  --bs-btn-active-border-color: #ffbbbb;
  --bs-btn-disabled-color: #ffbbbb;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffbbbb;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #E63E30;
  --bs-btn-border-color: #E63E30;
  --bs-btn-hover-color: #00416C;
  --bs-btn-hover-bg: #FED103!important;
  --bs-btn-hover-border-color: #FED103!important;
  --bs-btn-focus-shadow-rgb: 38,35,14;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #E63E30;
  --bs-btn-active-border-color: #E63E30;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #E63E30;
  --bs-btn-disabled-border-color: #E63E30;
}

.btn-outline-light {
  --bs-btn-color: #E63E30;
  --bs-btn-border-color: #E63E30;
  --bs-btn-focus-shadow-rgb: 255,235,91;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FED103!important;
  --bs-btn-hover-border-color: #FED103!important;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #E63E30;
  --bs-btn-active-border-color: #E63E30;
  --bs-btn-disabled-color: #E63E30;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #E63E30;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1C1F23;
  --bs-btn-hover-border-color: #1A1E21;
  --bs-btn-focus-shadow-rgb: 222,222,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1A1E21;
  --bs-btn-active-border-color: #191C1F;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}

.btn-outline-dark {
  --bs-btn-color: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 33,37,41;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #212529;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #212529;
  --bs-btn-active-border-color: #212529;
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #212529;
}