span {
  color: #FFFFFF!important;
}

.ref-heading {
  color: #FFFFFF;
}

.ref-back {
  color: #FFFFFF!important;
}

.ref-summary-toggle {
  background-color:#00578f!important;
}

small {
  color: white!important;
}

.ref-tab-content {
  background-color: #00578f!important;
}

.ref-heading-small {
  color: #FFFFFF;
}

.ref-form-control {
    background-color: white!important;
}
.ref-form-control.ref-field-details-name {
  color: black;
}

.ref-form-control.ref-field-details-address-line {
  color: black!important;
}

.ref-form-control.ref-field-details-city {
  color: black!important;
}

.ref-form-control.ref-field-details-country {
  color: black!important;
}

.ref-form-control.ref-field-details-region {
  color: black!important;
}

.ref-form-control.ref-field-details-postcode {
  color: black!important;
}

.ref-heading-shipping-methods.ref-heading-small {
}

.ref-shipping-methods.ref-error-parent {
  color: #FFFFFF!important;
}

#ref-field-note-seller {
  color: black !important;
}

.ref-heading.ref-payment-method-name {
  color: #FFFFFF!important;
}

.ref-payment-method-instructions {
  color: #FFFFFF!important;
  background-color: #00578f!important;
}

.ref-delivery-card {
  background-color: #00578f!important;
}

.ref-tab.ref-shipping-tab.open {
  background-color: #00578f;
}

.ref-button.ref-add-billing {
  background-color: #FED103!important;
  color: #00416c!important;
}

.ref-button.ref-remove-billing {
  color: #FFFFFF!important;
  background-color: #00578f!important;
}

.ref-row.ref-row-region {
}

.ref-links {
}

a {
  color: #FFFFFF!important;
}
.show-more{
  color: #FFFFFF;
}

.show-more:hover{
  color: #FED103!important;
}
.ref-products {
  background-color: #00578f!important;
  color: #FFFFFF;
}

.ref-heading {
  background-color: #00578f!important;
}

.ref-page-link:hover {
  color: #00578f!important;
}

.ref-checkout-summary {
  background-color: #00578f!important;
}

.ref-product-secondary {
  color: #FFFFFF!important;
}

.ref-total-note {
  color: #FFFFFF;
}

.ref-product-remove {
  color: yellow!important;
}

.ref-button:hover {
  background-color: #E63E30!important;
  color: #FFFFFF!important;
}

.ref-button {
  background-color: #FED103!important;
  color: #00416c!important;
  font-weight: 700;

}

.ref-name {
  color: #FFFFFF!important;
}

.ref-description {
    color: #FFFFFF!important;
}

.ref-product-col {
  color: #FFFFFF;
}

.ref-price-col {
  color: #FFFFFF;
}

.ref-quantity-col {
  color: #FFFFFF;
}

.ref-total-col {
  color: #FFFFFF;
}

.ref-product-category {
  color: #FFFFFF!important;
}

.ref-product-variants {
  color: #FFFFFF!important;
}

.ref-product-personalization-holder {
  color: #FFFFFF!important;
}

.ref-product-variant {
  color: #FFFFFF!important;
}

.ref-row {
  color: #FFFFFF!important;
}

span {
  color: #FFFFFF!important;
}

.ref-button.ref-button-success.ref-add-code.inactive {
  background-color: #00578f;
}

label {
  background-color: #00578f;
}
.ref-message {
  background-color: #00578f!important;
}

.ref-discount-code-input-holder {
  color: #000000;
}

.ref-validation-error {
  color: #ff7468!important;
}

.ref-profile-info {
  background-color: #00416C!important;
}

.ref-auth-button-signed {
  background-color: #00416C!important;
}

.ref-instructions {
  background-color: #00578f!important;
}

.ref-phone-input{
  background-color: #00578f!important;
}

.important-background {
  background-color: #00578f !important;
}
