.ref-original-price {
  color: #ffeb5b!important;
}

.ref-price.ref-on-sale {
  color: #00ff47!important;
}

.ref-search {
  color: #000000!important;
}

.ref-product-preview {
  background-color: #00578f!important;
}

.ref-setting>label {
  background-color: #00578f!important;
}
.ref-title {
  color: #ffeb5b;
}

.ref-form-control {
  color: black!important;
}

.ref-settings {
  background-color: #00578f!important;
}

.ref-excerpt {
  color: white;
}

.ref-price {
  color: white;
}

.reflow-category-list.ref-horizontal-bar {
    background-color: #00578f!important;
  display: grid;
  justify-content: center;
}

.ref-cancel-search {
    color: #00578f!important;
  background-color: white;
}

.ref-dropdown-toggle {
  color: white!important;
}

.ref-dropdown-toggle>ul {
  background-color: #00416c!important;
}
.active{
  color: yellow!important;
}